<%- include("partials/header.ejs") %>

    <div>
        <div>
            <form action="/add-todo">
                <!-- <input type="text">
                <input type="text">
                <input type="text"> -->
            </form>
        </div>




        <form action="/add-premade"></form>
    </div>

    <%- include("partials/footer.ejs") %>